*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    /* background-color: rgb(225, 85, 202); */
    display: grid;
    place-items: center;
}
.forms-login{
   
    width: 380px;
    background-color: rgb(10, 6, 47);
    border-radius: 5px;
    padding: 15px;
    display: none;
    border-radius: 10px;
}
.forms-signup{
   
   width: 380px;
   background-color: rgb(10, 6, 47);
   border-radius: 5px;
   padding: 15px;
   /* display: none; */
   border-radius: 10px;
}

h1{
    text-align: center;
}
.row-1, .row-2{
    height: 45px;
    background-color: rgb(25, 25, 91);
    margin-bottom: 10px;
    position: relative;
}
.row-1 input, .row-2 input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 35px;
   
}
.row-1 i, .row-2 i{
    position: absolute;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}